body { 
  background-color: #f6f6f6;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

nav {

  background: #cfd8dc;
  display: flex;
  justify-content: center;
  padding: 15px;
  
  }
  
  .link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  }

.products {
   display: flex;
   flex-wrap: wrap;
  }
  
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  
  }

  .termContainerBox {
    display: flex;
    justify-content: flex-start;
  }

  .termContainer{
    display: flex;
    justify-content: flex-start;
 }
  
 .term {
   color: grey;
    margin-right: 5px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
 }


  .product-info{
    font-weight: bold;
  }
  
  .cont {
    display: flex;
    justify-content: center;

  }
  
  .back {
  
    background-color: #f4eddd; 
  
    padding: 20px;
  
    margin-left: 20px;
  
    margin-right: 20px;
  
    font-family: 'Encode Sans Semi Expanded', sans-serif;

  }
  
  .change {
  
    background-color: black;
  
    color: white;
  
    padding: 10px;
  
    border: none;
  
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  
  }
  
  h3, h4 {
  
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  
  }
  
  button {
  
    margin: 10px;
  
  }
  

  
  